* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main::before,main::after{
  content: '';
  position: absolute;
  width: 510px;
  background-image: linear-gradient(to right,#8739ff,#e844ff);
  z-index: -1;
}

main::before{
  height: 550px;
  top: 0;
  right: 187px;
  border-bottom-right-radius: 255px;
}

main::after{
  left: 187px;
  height: 550px;
  top: 320px;
  border-top-left-radius: 255px;
  opacity: 3%;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before,body::after {
  content: '';
  position: absolute;
  width: 510px;
  background-image: linear-gradient(to right,#8739ff, #e844ff);
  opacity: 0.1;
  z-index: -1;
}

body::before {
  height: 1018px;
  top: 0;
  right: 187px;
  border-bottom-right-radius: 255px;
}

body::after{
  left: 187px;
  height: 550px;
  top: 320px;
  border-top-left-radius: 255px;
  opacity: 0.1;
}

.mobile {
  position: relative;
  width: 247px;
  height: 505px;
  background-color: white;
  border-radius: 20px;
  border: 10px solid white;
}

.chat {
  position: absolute;
  background-color: #f5f3f7;
  width: 228px;
  height: 420px;
  border-radius: 0 0 20px 20px;
}
.avatar-container {
  position: relative;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 228px;
  height: 66px;
  background-image: linear-gradient(#e844ff, #8739ff);
  border-radius: 20px 20px 8px 8px;
  padding-top: 30px;
  padding-bottom: 12px;
}

.avatar-text {
  width: 74px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

.profile-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
}

h1 {
  font-size: 40px;
  color: #3E2753;
  text-align: center;
}

.para {
  font-size: 16px;
  color: #A39DA9;
  text-align: center;
  line-height: 28px;
  margin: 32px;
}

h2 {
  font-size: 11px;
  color: #fff;
  margin: 0;
}

h3 {
  font-size: 8px;
  color: #d99eff;
  margin: 0;
}

.header {
  display: flex;
  width: 196px;
  height: 24px;
  align-items: center;
  gap: 8px;
}

.menu{
  display: block;
  margin-left: auto;
}

.message {
  font-size: 8px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 11px;
  width: 112px;
}

.images {
  position: absolute;
  top: 130px;
  left: 85px;
  display: flex;
  width: 136px;
  justify-content: space-around;
  background-color: transparent;
}

.dog {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.msg-1 {
  position: relative;
  width: 128px;
  color: #9341c8;
  background-color: #eee5f4;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding: 8px;
  margin: 8px;
  border-radius: 15px 15px 15px 6px;
}

.msg-2 {
  position: absolute;
  top: 60px;
  width: 128px;
  color: #9341c8;
  background-color: #eee5f4;
  padding: 8px;
  margin: 8px;
  border-radius: 15px 15px 15px 6px;
}

.msg-3 {
  position: absolute;
  width: 128px;
  color: #6e5d7e;
  background-color: #fff;
  top: 175px;
  left: 85px;
  padding: 8px;
  border-radius: 15px 15px 6px 15px;
}

.msg-4 {
  position: absolute;
  width: 128px;
  color: #6e5d7e;
  background-color: #fff;
  top: 237px;
  left: 85px;
  padding: 8px;
  border-radius: 15px 15px 6px 15px;
}

.msg-5 {
  position: absolute;
  top: 280px;
  width: 128px;
  color: #9341c8;
  background-color: #eee5f4;
  padding: 8px;
  margin: 8px;
  border-radius: 15px 15px 15px 6px;
}

.message-special-1 {
  position: absolute;
  top: 340px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right,#e844ff, #8739ff);
  color: #fff;
  padding: 6px;
  border-radius: 15px 15px 15px 6px;
  
}

.message-special-2 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right,#e844ff, #8739ff);
  color: #fff;
  padding: 6px;
  border-radius: 15px 15px 15px 6px;
}

.text-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 213px;
  background-color: #fff;
  height: 34px;
  border-radius: 16px;
}

.path {
  background-color: #3E2753;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 9px;
}

.ttext-bar {
  font-size: 9px;
  color: #C5C9CC;
}

.box {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-radius: 1px solid #E472FF;
  background-color: white;
}