* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main::before,main::after{
  content: '';
  position: absolute;
  width: 510px;
  background-image: linear-gradient(45deg,#8739ff,#e844ff);
  z-index: -1;
}

main::before{
  height: 550px;
  top: -80px;
  right: 187px;
  border-bottom-right-radius: 255px;
}

main::after{
  left: 187px;
  height: 550px;
  top: 320px;
  border-top-left-radius: 255px;
  opacity: 3%;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAFAFA;
}

.mobile {
  margin: 64px;
  position: relative;
  width: 247px;
  height: 505px;
  background-color: white;
  border-radius: 20px;
  border: 10px solid white;
  box-shadow: 0 60px 30px -10px rgba(62, 39, 83, 25%);
}

.box-top {
  position: absolute;
  top: 0;
  background-color: white;
  border-radius: 0 0 16px 16px ;
  width: 129px;
  height: 20px;
}

.chat {
  position: absolute;
  background-color: #f5f3f7;
  width: 228px;
  height: 420px;
  border-radius: 0 0 20px 20px;
}
.avatar-container {
  position: relative;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 228px;
  height: 66px;
  background-image: linear-gradient(#e844ff, #8739ff);
  border-radius: 20px 20px 8px 8px;
  padding-top: 30px;
  padding-bottom: 12px;
  box-shadow: 0 13px 0 0 rgba(62, 39, 83, 7%);
}

.avatar-text {
  width: 74px;
  height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}

.profile-image {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid white;
}

h1 {
  font-size: 40px;
  color: #3E2753;
  text-align: center;
}

.para {
  font-size: 16px;
  color: #A39DA9;
  text-align: center;
  line-height: 28px;
  margin: 32px;
}

h2 {
  font-size: 11px;
  color: #fff;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-size: 8px;
  color: #d99eff;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal
}

.header {
  display: flex;
  width: 196px;
  height: 24px;
  align-items: center;
  gap: 8px;
}

.menu{
  display: block;
  margin-left: auto;
}

.message {
  font-size: 8px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 11px;
  width: 112px;
}

.images {
  position: absolute;
  top: 112px;
  left: 85px;
  display: flex;
  width: 136px;
  justify-content: space-around;
  background-color: transparent;
}

.dog {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.msg-1 {
  position: relative;
  width: 128px;
  color: #9341c8;
  background-color: #eee5f4;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 15px 15px 15px 6px;
}

.msg-2 {
  position: absolute;
  width: 128px;
  color: #9341c8;
  background-color: #eee5f4;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin-top: 8px;
  margin-left: 8px;
  border-radius: 15px 15px 15px 6px;
}

.msg-3 {
  position: absolute;
  width: 128px;
  color: #6e5d7e;
  background-color: #fff;
  top: 151px;
  left: 85px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin: 8px;
  border-radius: 15px 15px 6px 15px;
  box-shadow: 0 5px 10px -5px rgba(62, 39, 83, 25%);
}

.msg-4 {
  position: absolute;
  display: flex;
  align-items: center;
  width: 128px;
  height: 23px;
  color: #6e5d7e;
  background-color: #fff;
  top: 200px;
  left: 85px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin: 8px;
  border-radius: 15px 15px 6px 15px;
  box-shadow: 0 5px 10px -5px rgba(62, 39, 83, 25%);
}

.msg-5 {
  position: absolute;
  top: 230px;
  width: 128px;
  color: #9341c8;
  background-color: #eee5f4;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
  margin: 8px;
  border-radius: 15px 15px 15px 6px;
}

.message-special-1 {
  position: absolute;
  top: 293px;
  width: 160px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right,#e844ff, #8739ff);
  color: #fff;
  border-radius: 12px 12px 12px 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin: 8px;
  
}

.message-special-2 {
  position: absolute;
  top: 333px;
  width: 160px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right,#e844ff, #8739ff);
  color: #fff;
  border-radius: 12px 12px 12px 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 8px;
  margin: 8px;
}

.text-bar {
  position: absolute;
  top: 380px;
  left: 7px;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  align-items: center;
  width: 213px;
  background-color: #fff;
  height: 34px;
  border-radius: 16px;
}

.path {
  background-color: #3E2753;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 9px;
}

.ttext-bar {
  font-size: 8px;
  color: #C5C9CC;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 12px;
}

.box {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 1px solid #E472FF;
  background-color: transparent;
}

.price {
  font-size: 12px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal
}

@media screen and (min-width:767px) {
  main::before,main::after{
    content: '';
    position: absolute;
    width: 510px;
    background-image: linear-gradient(45deg,#8739ff,#e844ff);
    z-index: -1;
    display: 0;
  }
  
  main::before{
    height: 550px;
    top: -80px;
    right: 187px;
    border-bottom-right-radius: 255px;
    display: 0;
  }
  
  main::after{
    left: 187px;
    height: 550px;
    top: 320px;
    border-top-left-radius: 255px;
    opacity: 3%;
    display: 0;
  }
}